body {
    background: linear-gradient(to bottom, #FFB6C1, #DDA0DD); /* Градієнт від рожевого до фіолетового */
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px; /* Доданий відступ */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px; /* Максимальна ширина */
    width: 90%; /* Зменшена ширина для кращого вигляду */
    margin: 0 auto; /* Центрування */
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #D5006D;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    color: #4B0082;
    border-bottom: 2px solid #D5006D;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Стиль для кнопок */
button {
    display: block; /* Кожна кнопка на новому рядку */
    width: auto; /* Автоматична ширина */
    margin: 10px auto; /* Відступи між кнопками */
    padding: 10px 15px;
    background-color: #D5006D;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #E91E63;
}

/* Кнопка для повернення */
.return_button {
    display: block; /* Окрема лінія */
    margin: 20px auto; /* Центрування */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #D5006D;
    border: none;
    border-radius: 5px;
    text-align: center;
}

/* Списки */
ul {
    list-style-type: none; /* Видалення стандартних маркерів */
    padding: 0;
    margin: 10px 0;
}

ul li {
    padding: 10px;
    background: #FCE4EC;
    border-radius: 4px;
    margin-bottom: 5px;
}

/* Форми */
form {
    margin-bottom: 20px; /* Відступ між формами */
}

form button {
    display: inline-block; /* Розташування кнопок у формах */
    width: auto;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #D5006D;
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
}

form button:hover {
    background-color: #E91E63;
}

/* Повідомлення про помилки */
.error-message {
    color: #ff4d4d;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ff4d4d;
    border-radius: 3px;
    background-color: #ffe6e6;
}
